-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/singleActionButton?state=1

- push( hoo_single_action_button )

-# adding the data-jsclass attribute means that a javascript instance will be created on-load
-# Todo: I also need to have it created if it is inserted by ajax!

- textStyle = "font:13px Verdana; color:#{_.labelColor}; line-height:15px; padding:0; position:relative; top:15px; letter-spacing:0pc; word-spacing:-0.1pc;"
- button_attrs = { :style=>" text-align: center; padding:0; margin:0; border:none; background:transparent url( #{_.img} ) 0 #{_.size[1]*-_.state}px; width: #{_.size[0]}px; height:#{_.size[1]}px;" }
- if(  _.state==0 )
	- button_attrs.merge!( { :disabled=>"disabled" } )
	- button_attrs[:style] += "pointer-events:none;"
	- textStyle += "opacity:0.6;"
- else
	- textStyle += "text-shadow:0px -1px 0px #374683;"

%div[_]{ :data=> {'jsclass'=>'HooSingleActionButton'} }
	%div{button_attrs}
		%a( href="http://apple.com" style="#{textStyle}" )
			-# Insert the correct label for this state
			#{_.labelStates[_.state]}
