-# View should be logicless
-# No Dimensions in CSS
-# If you don't have Javascript you dont need rollovers
-# Javascript-less site should be minimal and semantic

-# http://0.0.0.0:3000/widgets/HooFormButtonSimple?initialState=1

- push( hoo_form_button_simple )

-# adding the data-jsclass attribute means that a javascript instance will be created on-load
-# Todo: I also need to have it created if it is inserted by ajax!
%div[_]( data-jsclass='ABoo.HooFormButtonSimple' )
	= form_tag( "#{_.action}", :method=>:post, :remote=>true ) do

		-# Old way used a submit button. Thee are a bitch to style. So is this.
		-# Note, the position of the span is different in ie, firefox and safari (didnt even bother to check chrome)
		-# If you center it in safari it will be to low in firefox, whichever way you tweak it it will be incorrect somewhere
		-# We really should use links and javascript
		-# Button renders better than INPUT TYPE="submit"

		- textStyle = "color:#{_.labelColor}; padding:0; position:relative; top:0px; margin: 0!important;"
		- button_attrs = { :style=>"padding:0; margin:0; border:none; background:transparent url( #{_.img} ) 0 #{_.size[1]*-_.initialState}px; width: #{_.size[0]}px; height:#{_.size[1]}px;", :name=>"commit", :title=>"", :type=>"submit", :value=>"" }
		- if(  _.initialState==0 )
			- button_attrs.merge!( { :disabled=>"disabled" } )
			- button_attrs[:style] += "pointer-events:none;"
			- textStyle += "opacity:0.6;"
		- else
			- textStyle += "text-shadow:0px -1px 0px #374683;"

		%button{ button_attrs }
			%span.unselectable.sansSolidBold( style="#{textStyle}" )
				-# Insert the correct label for this initialState
				#{_.labelStates[_.initialState]}
