- push( hoo_elastic_col_left_view )

- if _.fullWidthHeader!=nil
	/ Header
	%div{ :style =>"clear:both; float:left; width:100%; #{_.debugCol1}#{_.debugBorder}" }
		= insert( _.fullWidthHeader, "No header" )

/ Content
%div{ :style =>"max-width:800px; margin:auto;" }
	%div.floatLeft_relative{ :style =>"#{_.debugCol2}; width:100%; overflow:hidden; clear:both;" }

		- if _.elasticHeader!=nil
			%div{ :style =>"overflow:hidden; width:100%;" }
				= insert( _.elasticHeader, "No header" )

		%div.floatLeft_relative{ :style=>"#{_.debugCol3}; left:#{_.sideBarWidth}px; width:200%;" }

			%div.floatRight_relative{ :style=>"right:#{_.sideBarWidth}px; width:50%;" }

				/ Main Content
				%div{ :style =>"position:relative; margin-left:#{_.sideBarWidth}px; right:100%; overflow:hidden; max-width:800px; #{_.debugBorder}" }
					= insert( _.mainColumn, "No mainColumn" )

			/ Sidebar
			%div.floatLeft_relative{ :style=>"right:#{_.sideBarWidth}px; width:#{_.sideBarWidth}px; #{_.debugBorder}" }
				= insert( _.sidebar, "No sidebar" )

- if _.footer!=nil
	/ Footer
	%div{ :style =>"clear:both; float:left; width:100%; #{_.debugCol1}#{_.debugBorder}" }
		= insert( _.footer, "No footer" )
