- push( follow_button_section )

-# Not convinced that this 'float' should be a property of the widget. ie, the widget should be able to be position anywhere
-# Maybe look at adding widget.flotRight();

%div( style="width: #{_.width}px; float: right;" )

    -# Follow button
    %form( action="dd" class="d" method="post" )
        %div( style="display:inline" )
            %input( name="authenticity_token" type="hidden" value="wTet0+r9Q5bOj3dfdAU01rsRvJamF8FWACF9h+AaClQ=" )

        -# Old way used a submit button. Thee are a bitch to style. So is this.
        -# New way to try to ease styling
        %button[_]( style="margin: 0 0 0 0; border: none; background-image:url( #{_.img} ); width: #{_.width}px; height: #{_.height}px;" name="commit" title="Follow matthew_weaver's Boos" type="submit" value="" )
            -# Note, the position of the span is different in ie, firefox and safari (didnt even bother to check chrome)
            -# If you center it in safari it will be to low in firefox, whichever way you tweak it it will be incorrect somewhere
            -# We really should use links and javascript
            %span( style="font-size: 15px; color: white; line-height: 15px; padding: 0 0 0 15px; position: relative; top:0px; margin:0!important" )
                #{_.label}

    -# itunes and rss link buttons
    %div( style="padding: 7px 2px 8px 2px; overflow: auto;" )
        %ul
            %li( style="display: inline;" )
                %a
                    %img( src="/images/buttons/itunes.gif" style="display:block; float: left; padding-left:0px; padding-right:2px")
            %li( style="display: inline;" )
                %a
                    %img( src="/images/buttons/rss.gif" style="display:block; float: right; padding-left:5px" )

-# Oh
%style(type="text/css")
    :sass
        #{_.uniqueSelector}
            background:
                position: 0 0px
                color: transparent
            span:active
                color: #aaa !important
            &:active
                background-position: 0 -#{_.height}px


-# Not using this any more

-# Handle swapping in the mouse down image
:javascript

    // images/foo.png >> images/foo-active.png
    function appendBitToUrl( originalURL, bitToAppend ) {
        var parts = originalURL.split('.');
        var fileExtension = parts[parts.length-1];
        var pathWithoutExtension = originalURL.substr(0, originalURL.lastIndexOf('.')) || originalURL;
        var modifiedPath = pathWithoutExtension + bitToAppend + fileExtension;
        return modifiedPath;
    }


    var activePic = new Image();
    activePic.src = appendBitToUrl("#{_.img}", "-active.");
    var item = $( '#{_.uniqueSelector}' );

    item.mousedown(function() {
     //   var pathToBackgroundImage = item.css("background-image");
     //   var modifiedPath = appendBitToUrl( pathToBackgroundImage, "-active." );
     //   item.css("background-image", modifiedPath );
     //   //store a refernce to the original url
     //   jQuery.data( item[0], 'originalUrl', pathToBackgroundImage );
    });
    item.mouseup(function() {
        var storedURL = jQuery.data( item[0], 'originalUrl' );
        item.css("background-image", storedURL );
    });
    item.bind("mouseleave",function() {
        var storedURL = jQuery.data( item[0], 'originalUrl' );
        item.css("background-image", storedURL );
    });
