- push( user_details_banner )

-# header for user details page
-# http://0.0.0.0:3000/widgets/userDetailsBanner
%div[_]

	- imgBorder = 1
	- imgStyle = "margin-right: 15px; float: left; border:#{imgBorder}px solid lightgray"
	%a( href="#{_.userHomePageURL}" )
		%img( width='#{_.imgSize[0]-imgBorder*2}' height='#{_.imgSize[1]-imgBorder*2}' src='#{_.img}' alt='user_avatar' style="#{imgStyle}" )

	-# Overflow hidden makes sure the text doesn't wrap - is this reliable?
	%div( style='overflow: hidden;' )
		%div.bigType
			%a( href="#{_.userHomePageURL}" style="font: normal normal 28px/30px Georgia; color: #be178b;") #{_.userName}

		%div.mediumType( style="margin-top: -24px;" )
			-# go thru stats hash
			- sparator = ' / '
			- first = true
			- _.stats.each_key do |key|
				- if first
					- first = false
				- else
					=sparator
				%a( href="#{_.stats[key][:url]}" style="font: normal normal 16px/30px Helvetica" ) #{_.stats[key][:total]} #{key}

	%div( style="clear:both;" )
