- push( detail_player )

-# http://0.0.0.0:3000/widgets/detailPlayer?url=http://0.0.0.0:3000/audio/test.mp3
%div[_]{ :style=>"position: relative;", :data=>{'jsclass'=>'HooDetailPagePlayer', 'autoplay'=>'false', 'preload'=>'true'} }

	%div( style="font-size: 15px;")
		Title goes here

	%div.player_left{ :style=>"position: absolute; height:105px; background: url( #{_.playerLeft} ) no-repeat left top; width: 105px;" }
	%div.player_ermLeftAgain{ :style=>"height:105px; padding-left: 105px;" }
		%div.player_right{ :style=>"height:100%; padding-right: 30px; background:  url( #{_.playerRight} ) no-repeat right top;" }
			%div.player_inner{ :style=>"height:100%; background: url( #{_.playerMid} ) repeat-x left top; background-origin: border-box;" }

	%a( href='#' )
		%div.playButton( style="display: inline-block; position: absolute; left: 0; top: 0; width:75px; height:75px; background-image: url( #{_.playButton}) ;")

	%a( href='#' )
		%div.carat( style="display: inline-block; position: absolute; left: 75px; top: 0px; width:60px; height:45px; background-image: url( #{_.carat}) ;")
			%span( style="position: absolute; top:12px; left:17px; font-size:11px;") 00:33


	%div( style="margin:0 15px 0 0; background-color: transparent; overflow: visible; height: 30px; border: 0px solid lightgray")

		%ul( style="padding-top: 4px;")
			%li( style="display:inline-block; background-color: transparent; float: right;")
			-#     <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hooleyhoop">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			-#
			-# %li{ :style=>"display:inline-block; background-color: transparent; float: right" }
			-# 	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
			-#
			-# %li{ :style=>"display:inline-block; background-color: transparent; float: right" }
			-# 	<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hooleyhoop">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			-#
			-# %li{ :style=>"display:inline-block; background-color: transparent; float: right" }
			-#    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fexample.com%2Fpage%2Fto%2Flike&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>

	= insert( _.views, "" )


- if( _.includeOnce? )
	:javascript
		// I need to be able to set SC instance variables from Ruby

		/*
		 *
		*/
		HooDetailPagePlayer = HooWidget.extend({

			_headlessAudioPlayer: undefined,
			_sliderWidget: undefined,

			init: function( /* init never has args */ ) {
				arguments.callee.base.apply(this,arguments);
			},

			setupDidComplete: function() {
				// way to hook up iVars from ruby
				this.swapFindAndSwapInstanceVariableNamed( '_headlessAudioPlayer' );
				this._headlessAudioPlayer.set('_controller', this );
			},

			ready: function() {
				alert("why are you never called my sweet ready functio?");
			},

			durationchange: function() {
				console.log("yeah this is working");
			},

			timeupdate: function() {
				console.log("yeah this is working");
			},

			progressupdate: function() {
				console.log("yeah this is working");
			},
			showEmptyLoaderCmd: function(){
				console.log("yeah this is working");
			},
			showStalledLoaderCmd: function(){
				console.log("yeah this is working");
			},
			showLoadingLoaderCmd: function(){
				console.log("yeah this is working");
			},
			showFinishedLoaderCmd: function(){
				console.log("yeah this is working");
			},
			showResettingLoaderCmd: function(){

			},
			showErrorLoaderCmd: function(){
				console.log("yeah this is working");
			},
			showEmptyPlayerCmd: function(){
				console.log("yeah this is working");
			},
			showStoppedPlayerCmd: function(){
				console.log("yeah this is working");
			},
			showWaitingPlayerCmd: function(){
				console.log("yeah this is working");
			},
			hideWaitingPlayerCmd: function(){
				console.log("yeah this is working");
			},
			showPlayingPlayerCmd: function(){
				console.log("yeah this is working");
			},
			showFinishedPlayerCmd: function(){
				console.log("yeah this is working");
			},
			showErrorPlayerCmd: function(){
				console.log("yeah this is working");
			}
		});
