!!! #
%html( class="no-js" )
	%head{:lang=>"en", :class => 'no-js'}
		%meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}
		%title #{@window.name}

		-# Rails 3 only
		= csrf_meta_tag

		= javascript_include_tag :defaults, :cache=>'base'
		= stylesheet_link_tag :app, :cache=>'base'

		= insertHeaderAdditions()

	%body(class="#{@window.style}")
		-# layout yields to the view
		= yield

		:javascript

			// Lets kick it all off
			$(document).ready(function(){
				#{runStartupScripts()}
			});
