- push( hoo5_col_percent_padded_view )

-# http://0.0.0.0:3000/widgets/5col_percent_padded

%div( style="clear:left;float:left;width:100%; overflow:hidden;" )
	%div( style="clear:left;float:left;width:100%;position:relative;right:20%;" )
		%div( style="clear:left;float:left;width:100%;position:relative;right:20%;" )
			%div( style="clear:left;float:left;width:100%;position:relative;right:20%;" )
				%div( style="float:left;width:100%;position:relative;right:20%;" )
					%div( style="float:left;width:16%;position:relative;left:82%;overflow:hidden;" )
						=  insert( _.views[0], "" )

					%div( style="float:left;width:16%;position:relative;left:86%; overflow:hidden;" )
						=  insert( _.views[1], "" )

					%div( style="float:left;width:16%;position:relative;left:90%;overflow:hidden;" )
						=  insert( _.views[2], "" )

					%div( style="float:left;width:16%;position:relative;left:94%;overflow:hidden;" )
						=  insert( _.views[3], "" )

					%div( style="float:left;width:16%;position:relative;left:98%;overflow:hidden;" )
						=  insert( _.views[4], "" )
