- push( hoo_relative_offset_view )

-# http://0.0.0.0:3000/widgets/relativeOffsetView

%div{ :style =>"position: relative; top:#{_.top}px; right:#{_.right}px; bottom:#{_.bottom}px; left:#{_.left}px;" }
	= insert( _.views, nil )
