-# push( hoo_vertical_split_view )

-# http://0.0.0.0:3000/widgets/verticalSplitView

-# Fixed Column on the right - wrap everything in elastic layout

- if( _.fixedColSide=='right' )
	%div[_]{ :style=>"position: relative; margin:auto" }
		%div.floatRight_relative{ :style =>"width:100%; overflow:hidden; clear:both;" }
			%div.floatLeft_relative{ :style=>"margin-left:-#{_.fixedColWidth}px; right:100%; width:200%;" }
				%div.floatLeft_relative{ :style=>"left:50%; width:50%;" }
					-# Main Column
					%div{ :style=>"margin-left: #{_.fixedColWidth}px; overflow:hidden;" }
						= insert( _.views[0], "need a left view" )
				-# Right Hand Column
				%div.floatRight_relative{ :style=>"left: #{_.fixedColWidth}px; width: #{_.fixedColWidth}px;" }
					shit
					= insert( _.views[1], "need a right view" )

-# Fixed Column on the left - wrap everything in elastic layout
- if( _.fixedColSide=='left' )
	%div{ :style =>"margin:auto;" }
		%div.floatLeft_relative{ :style =>"width:100%; overflow:hidden; clear:both;" }
			%div.floatLeft_relative{ :style=>"left:#{_.fixedColWidth}px; width:200%;" }
				%div.floatRight_relative{ :style=>"right:#{_.fixedColWidth}px; width:50%;" }
					-# Main Content
					%div{ :style =>"position:relative; margin-left:#{_.fixedColWidth}px; right:100%; overflow:hidden;" }
						= insert( _.views[1], "need a right view" )
				-# left hand column
				%div.floatLeft_relative{ :style=>"right:#{_.fixedColWidth}px; width:#{_.fixedColWidth}px;" }
					= insert( _.views[0], "need a left view" )
