-# http://0.0.0.0:3000/widgets/HooHorizontalSplitView

-# Fixed Column on the top

- if( _.fixedColSide=='top' )
    %div[_]{ :style=>"margin:auto" }
        %div{ :style=>"width:100%; height: #{_.fixedColHeight}px; display: inline-block; overflow: hidden;" }
            = insert( _.views[0], "need a left view" )
        %div
            = insert( _.views[1], "need a left view" )


-# Fixed Column on the bottom

- if( _.fixedColSide=='bottom' )
    %div{ :style =>"margin:auto;" }
        %div
            = insert( _.views[0], "need a left view" )
        %div{ :style=>"width:100%; height: #{_.fixedColHeight}px; display: inline-block; overflow: hidden;" }
            = insert( _.views[1], "need a left view" )
