%ul
	%li.mediumType= link_to 'javascript tests', pages_javascript_unit_tests_path
	%li.mediumType= link_to 'widgets', pages_widgets_path
	%li.mediumType= link_to 'single widget', pages_single_widget_path
	%li.mediumType= link_to 'sample fixed page', pages_sample_fixed_page_path
	%li.mediumType= link_to 'sample elastic page', pages_sample_elastic_page_path
	%li.mediumType= link_to 'column view', pages_column_view_path

