- push( checkbox )
-# http://0.0.0.0:3000/widgets/checkbox

%div[_]( style='font: normal 25px/30px Helvetica; background-color: red;' data-jsclass='ABoo.FirstGo' )
	nananananan nananananan nananananan nananananan nananananan nananananan

	= image_tag("rails.png")
	= image_tag("rails.png")
	= image_tag("rails.png")
	= image_tag("rails.png")
	= image_tag("rails.png")
	= image_tag("rails.png")


	-# here we put the template inline and the view is auto made for us. We could do our objects this way instead of using data-jsclass
	%script( type="text/html" )
		{{view SC.Checkbox class="mark-all-done" title="Mark All as Done" valueBinding="Todos.todosController.allAreDone"}}


- if( _.includeOnce? )
	:javascript

		// Basic Div Class - Renanme!
		FirstGo2 = HooWidget.extend({

			_imgItems: undefined,
			_view: undefined,
			_count: 0,

			init: function( /* init never has args */ ) {

				this._super();

				// find the images.
				this._imgItems = this.div$.find("img");
				this._imgItems.remove();

				this._view = SC.View.create(  ); // {templateName:"helloWorld"}

				this.constructTemplate();
			},

			parentDidResize: function() {
				this._count++;
				this.constructTemplate();
			},

			constructTemplate: function() {

				var newWidth = this.div$.width();
				var newHeight = this.div$.height();

				this._view.remove();
				var templateText = "** This text compiled from template **";
				templateText += "yaaaaaa";
				for(var i=0; i<this._count; i++) {
					templateText += "yaaaaaa";
				}
				var template = SC.Handlebars.compile( templateText );
			    //SC.TEMPLATES["helloWorld"] = template;


				this._view.set("template", template );

				this._view.appendTo(this.div$);

			},


		});
