-# push( hoo_background_img )

-# http://0.0.0.0:3000/widgets/backgroundImage

-# Draw a div with a background img at fixed size
- img_attrs = { :style=>"width:#{_.width}px; height:#{_.height}px; background: url( #{_.img} ) left top no-repeat;" }

-# supports custom attributes
- if(_.customCSSAttributes)
	- _.customCSSAttributes.each_pair do |key,value|
		- img_attrs[:style] += "#{key}:#{value};"

%div{img_attrs}

