#hoo_elastic_col_view_header{:style =>"clear:both;float:left;width:100%;#{hoo_elastic_col_view.debugCol1}#{hoo_elastic_col_view.debugBorder}"}
	= hoo_elastic_col_view.header!=nil ? (render hoo_elastic_col_view.header) : "ERROR:no header"

#_hoo_elastic_col_view_centred_page_wrapper
	.floatRight_relative{:style =>"#{hoo_elastic_col_view.debugCol2};width:100%;overflow:hidden;overflow:hidden;clear:both;"}
		.floatLeft_relative{:style=>"#{hoo_elastic_col_view.debugCol3};margin-left:-#{hoo_elastic_col_view.sideBarWidth}em;right:100%;width:200%;"}
			.floatLeft_relative{:style=>"left:50%;width:50%;"}
				#_hoo_elastic_col_view_main_col{:style =>"margin-left:#{hoo_elastic_col_view.sideBarWidth}em;overflow:hidden;#{hoo_elastic_col_view.debugBorder}"}
					= hoo_elastic_col_view.mainColumn!=nil ? (render hoo_elastic_col_view.mainColumn) : "no mainColumn"
			#_hoo_elastic_col_view_sidebar.floatRight_relative{:style=>"left:#{hoo_elastic_col_view.sideBarWidth}em;width:#{hoo_elastic_col_view.sideBarWidth}em;#{hoo_elastic_col_view.debugBorder}"}
				= hoo_elastic_col_view.sidebar!=nil ? (render hoo_elastic_col_view.sidebar) : "ERROR:no sidebar"
				
#_hoo_elastic_col_view_footer{:style =>"clear:both;float:left;width:100%;#{hoo_elastic_col_view.debugCol1}#{hoo_elastic_col_view.debugBorder}"}
	= hoo_elastic_col_view.footer!=nil ? (render hoo_elastic_col_view.footer) : "ERROR:no footer"
