- push( hoo_cropped_img )

%div[_]( style="position: relative; width:100%;")
	%img( src="#{_.path}" alt="image" style="position:absolute; display:block; width:100%; border:0 solid lightgray;" )

-# make the div a square
-# err, this doesn't really do what i think it does, it works one off - one time only on load, and doesn't mean that the layout is 'fluid'
	//derp :javascript
	//derp $(document).ready(function(){
	//derp
	//derp    // square off the container
	//derp    var container = $( '#{_.uniqueSelector}' );
	//derp    var containerDim = container.width();
	//derp    container.height( containerDim );
	//derp});

	//derp$( '#{_.uniqueSelector}>img' ).load(function(){
	//derp
	//derp    var container = $( '#{_.uniqueSelector}' );
	//derp    var containerDim = container.width();
	//derp
	//derp    // size the img to fill
	//derp    var img = $( '#{_.uniqueSelector}>img' );
	//derp    var imgWidth = img.width();
	//derp    var imgHeight = img.height();
	//derp    var ratio = imgWidth/imgHeight;
	//derp
	//derp    // tall image
	//derp    if( ratio<1.0 ) {
	//derp       img.width( containerDim );
	//derp        var newHeight = containerDim*(1/ratio);
	//derp        img.height( newHeight );
	//derp        var yOffset = (newHeight-containerDim)/2.0;
	//derp        img.css('top', -yOffset);
	//derp
	//derp   // wide image
	//derp   } else {
	//derp       img.height( containerDim );
	//derp       var newWidth = containerDim*ratio;
	//derp       img.width( newWidth );
	//derp       var xOffset = (newWidth-containerDim)/2.0;
	//derp       img.css('left', -xOffset);
	//derp  }

	//derp});
