!!! 5
%html
	%head
		%title hmmm
		= stylesheet_link_tag 'qunit/qunit.css'
		= javascript_include_tag :defaults
		= javascript_include_tag 'third_party/qunit/qunit.js'
		= javascript_include_tag 'third_party/qmock/qmock.js'

		%script
			QMock.config.compare = QUnit.equiv;
			QMock.config.failslow = false;

		-# Include each js file that we have passed in via 'jsFiles'
		- jsFiles.each do |file|
			%script{ :type=>"text/javascript", :src=>"#{file}"}

	%body.showgrid
		= yield
