!!! #
%html
	%head{:lang=>"en", :class => 'no-js'}
		%meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}
		%title #{@window.name}
		= csrf_meta_tag

		= javascript_include_tag "HooSC_min"
		= javascript_include_tag :defaults
		= javascript_include_tag "fg.menu"

		= stylesheet_link_tag 'simple_reset'

	%body.showgrid
		/ layout yields to the view
		= yield


		:javascript

			// Lets kick it all off
			$(document).ready(function(){
				#{runStartupScripts}
			});
