-# push( hoo_speech_bubble_bottom_canvas )

-# http://0.0.0.0:3000/widgets/speechBubbleBottomCanvas
-# Speech Bubble is actual a split view with a panel on the left and the speech thingy on the right

-# Top Elastic Row
%div[_]{ :class=>"speechBubble", :data=>{'jsclass'=>'ABoo.HooSpeechBubbleBottomCanvas'}, :style =>"margin:auto; overflow:visible; width:100%" }
	%canvas( width="100" height="100" style="border:0 solid white; position: absolute; ")

	%div( class="panel_style_inner" style="position: relative;" )

		%div.speechBubble_top_middle{ :style=>"position: absolute; overflow: auto; background: url( #{_.top} ) repeat-x left top; height: #{_.cornerDim}px; left:#{_.cornerDim}px; right: #{_.cornerDim}px; " }
		%div.speechBubble_top_left{ :style=>"width: #{_.cornerDim}px; height: #{_.cornerDim}px; float:left; background: url( #{_.corners} ) left top no-repeat;" }
		%div.speechBubble_top_right{ :style=>"width: #{_.cornerDim}px; height: #{_.cornerDim}px; float:right; background: url( #{_.corners} ) right top no-repeat;" }

		%div.speechBubble_top{ :style=>"padding-top: #{_.cornerDim}px;" }

			%div.speechBubble_bottom{ :style=>"padding-bottom: #{_.cornerDim}px;" }

				%div.speechBubble_left_middle{ :style=>"position: absolute; height:auto; background: url( #{_.left} ) repeat-y left top; width: #{_.cornerDim}px; top:#{_.cornerDim}px; bottom: #{_.cornerDim}px; overflow: auto;" }

				%div.speechBubble_left{ :style=>"padding-left: #{_.cornerDim}px;" }

					%div.speechBubble_right{ :style=>"padding-right: #{_.cornerDim}px; background: url( #{_.right} ) repeat-y right top;" }

						%div.speechBubble_inner{ :style=>"background: url( #{_.fill} ) repeat left top; background-origin: border-box; padding:0 0 0 0;" }
							=  insert( _.views, "" )
							%div( style="clear:both;")

				%div.speechBubble_bottom_left{ :style=>"width: #{_.cornerDim}px; height: #{_.cornerDim}px; float:left; background: url( #{_.corners} ) left bottom no-repeat;" }
				%div.speechBubble_bottom_right{ :style=>"width: #{_.cornerDim}px; height: #{_.cornerDim}px; float:right; background: url( #{_.corners} ) right bottom no-repeat;" }
				%div.speechBubble_bottom_middle{ :style=>"position: absolute; width: auto; background: url( #{_.bottom} ) repeat-x left bottom; height: #{_.cornerDim}px; left:#{_.cornerDim}px; right: #{_.cornerDim}px; " }



	-# Bottom Fixed Row
	%div.triangle{ :style=>"height: #{_.fixedRowHeight}px; position:relative; top:-1px; left:30px;" }
		-# Draw a div with a background img at fixed size
		- img_attrs = { :style=>"width:#{_.triangleImgSize[0]}px; height:#{_.triangleImgSize[1]}px; background: url( #{_.triangleImgpath} ) left top no-repeat;" }
		%div{img_attrs}



-# Obviously we cannot leave this here as it is crazy to include it more than once
- if( _.includeOnce? )

	%style(type="text/css")
		:sass

			// Lovely modernizr stuff. if .borderradius and rgba are supported rip out the background images and use css rounded corners instead
			// body
			//	background: none!important
			//	background-color: red!important

			// remove each background image
			// Bah! If you disable javascript, you dont get moderninzer
			// This doesnt take into account experimental support on canvas
			.js .speechBubble
				.speechBubble_top_middle, .speechBubble_top_left, .speechBubble_top_right, .speechBubble_left_middle, .speechBubble_right, .speechBubble_inner, .speechBubble_bottom_left, .speechBubble_bottom_right, .speechBubble_bottom_middle
					background: none no-repeat !important
				.triangle div
					background: none no-repeat !important



	:javascript

		// Obviously, we only do this if there is a bloomin canvas in the first place. Oh, hello ie
		ABoo.HooSpeechBubbleBottomCanvas = ABoo.HooWidget.extend({

			_$parentDiv: undefined,
			_$canvas: 	undefined,
			_started:	false,

			init: function( /* init never has args */ ) {
				this._super();

				// the background has been removed if javascript is enabled!
				if( ABoo.browserSupportsCanvas() )
				{
					this._$canvas = this.getFirstDomItemOfType("canvas");

					var self = this;
					setTimeout( function(){
						self.resizeCanvas();
						self._started = true;
					}, 70);
				}
			},

			parentDidResize: function() {
				if( ABoo.browserSupportsCanvas() ){
					if(this._started===true)
						this.resizeCanvas();
				}
			},

			// TODO: update this to use HooCanvas
			resizeCanvas: function() {
				var newWidth = this.div$.width();
				var newHeight = this.div$.height();
				var currentWidth = this._$canvas.width();
				var currentHeight = this._$canvas.height();
				if( newWidth!=currentWidth || newHeight!=currentHeight)
				{
					this._$canvas.attr({ width:newWidth, height:newHeight }); // setting the size resets the canvas
					var ctx = this._$canvas[0].getContext('2d');
				    this.draw(ctx, newWidth, newHeight);
				}
			},

			draw: function( ctx, width, height ) {

				var graphicToDraw = "speechBubble_bottom";

				if( height%15!=0) console.error("why is this height fucked? "+height);
				var gradient;

				var cornerRad = 12;	// make this dynamic?
				var nubbinWidth = 30;
				var nubbinHeight = 12;

				// layer1/Path
				ctx.save();
				ctx.globalAlpha = 1.0;
				ctx.globalCompositeOperation = 'source-over';

				ctx.shadowColor = "rgba(0, 0, 0, 0.2)";
				ctx.shadowOffsetX = 1;
				ctx.shadowOffsetY = 3.0;
				ctx.shadowBlur = 3.0;

				//-- maybe inset rect?
				var x = 1, y = 1, width = width-2, height = height-2 - 3; // allow for shadow
				ctx.fillStyle = "rgba(250, 250, 250, 0.5)";
				ctx.beginPath();
					ABoo.Graphics[graphicToDraw].draw( ctx, x, y, width, height, cornerRad, nubbinWidth, nubbinHeight );
				ctx.closePath();
				ctx.fill();

				gradient = ctx.createLinearGradient(0, height, 0, 0);
				gradient.addColorStop(1.0, "rgba(245, 242, 242, 1)");
				gradient.addColorStop(0, "rgba(245, 237, 237, 1)");
				ctx.fillStyle = gradient;
				ctx.fill();

				ctx.restore();
			}
		});
